/* UNIVERSAL */

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

img {
    width: 100%;
}

main {
    margin: 8px;
    display: flex;
    justify-content: center;
}

/* GALLERY SECTION */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.show {
    padding: 8px;
    margin-bottom: 15px;
    flex-grow: 1;
    cursor: pointer;
}

.show h2 {
    margin-top: 10px;
}


.show:hover {
    color: #1882f8;
    transition: .3s ease;
}

/* MOBILE FIRST DESIGN */

@media only screen and (max-width: 575px) {    
    h2 {
        font-size: 1.185em;
    }
    section {
        width: 100%;        
    }
    .show {
        width: 40%;
    }
}


@media only screen and (min-width: 576px) {
    h2 {
        font-size: 1.135em;
    }
    section {
        width: 100%;
    }
    .show {
        width: 25%;
    }
}


@media only screen and (min-width: 768px) {
    h2 {
        font-size: 1.125em;
    }
        section {
        width: 100%;
    }
    .show {
        width: 20%;
    }
}


@media only screen and (min-width: 992px) {
    section {
        width: 100%;
    }
    .show {
        width: 15%;
    }
}


@media only screen and (min-width: 1400px) {
    section {
        width: 78%;
    }
    .show {
        width: 14%;
    }
}
